<?xml version="1.0"?>
<launch>

  <!-- Fire this launch file using "roslaunch demo demo_sim.launch file:=2017-04-18-18-52-07.bag" -->
  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="player" args="$(arg file) -r 0.10 --clock">
    <remap from="tf" to="tf_old" />
    <remap from="tf_static" to="tf_static_old" />
  </node>

  <!--START THE TRACKING-->
  <include file="$(find tracker_artoolkit5)/launch/twb_tracker.launch"/>
  
  <!--TFs FOR CAMERAS-->
  <include file="$(find calib)/launch/twb_camera_tf.launch"/>

  <!--Start the tracker-->

  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="0" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="1" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="2" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="3" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="4" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="5" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="6" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="7" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="8" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="9" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="10" /></include> 
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="11" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="12" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="13" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="14" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="15" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="16" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="17" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="18" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="19" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="20" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="21" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="22" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="23" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="24" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="25" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="26" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="27" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="28" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="29" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="30" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="31" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="32" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="33" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="34" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="35" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="36" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="37" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="38" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="39" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="40" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="41" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="42" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="43" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="44" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="45" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="46" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="47" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="48" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="49" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="50" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="51" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="52" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="53" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="54" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="55" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="56" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="57" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="58" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="59" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="60" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="61" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="62" /></include>
  <include file="$(find localization)/launch/generic_ekf.launch"><arg name="id" value="63" /></include>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find demo)/rviz/viz.rviz" respawn="true" />
</launch>
