<launch>

  <node name="master_discovery" pkg="master_discovery_fkie" type="master_discovery" output="screen">
    <rosparam param="robot_hosts">['twbserver.ks']</rosparam>
  </node>

  <node name="master_sync" pkg="master_sync_fkie" type="master_sync">
    <rosparam param="sync_topics">['/genicam_cam*', '/artoolkit5_*', '/icl_node*', '/apriltag_detector*', '/aruco2_node*', '/aruco3_node*', '/odometry/filtered/*', '/vicon*', '/amiro*']</rosparam>
  </node>
</launch>
