<?xml version="1.0"?>
<launch>
    
  <!--param name="capability_group" value="cameras"/-->
  <arg name="fps_mono" default="20"/>
  <arg name="trigger_mode" default="0"/>
  <arg name="ptp_timestamp" default="1"/>
  <arg name="fps_color" default="10"/>
  
  <include file="$(find genicam_cvb)/launch/jai_c.launch">
    <arg name="fps" value="$(arg fps_color)"/>
    <arg name="CAM" value="5"/>
    <param name="trigger_mode" value="$(arg trigger_mode)"/>
    <param name="ptp_timestamp" value="$(arg ptp_timestamp)"/>
    <arg name="camera_parameter_ns" value="config"/>
  </include>
  
</launch>
