<?xml version="1.0"?>
<launch>

  <arg name="world_frame" default="map"/>

  <arg name="cam1" value="1.5000   -1.5000   -1.7000    0 0         0         1.0"/>
  <arg name="cam2" value="-1.3071   -1.5390   -1.8324 0.0365   -0.0412   -0.7036 0.7085"/>
  <arg name="cam3" value="-1.6830    1.3908   -1.7717 0.0019   -0.0318   -0.0052 0.9995"/>
  <arg name="cam4" value="1.4243    1.5012   -1.6682 -0.0122   -0.0055   -0.7130 0.7010"/>

  <node pkg="tf" type="static_transform_publisher" name="world_origin" args="0 0 2.2 0 0 3.14 $(arg world_frame) camera_origin 100" />


  <!--CAMERA VIEW SETUP-->
  <node pkg="tf" type="static_transform_publisher" name="cam1" args="$(arg cam1) camera_origin cam1 100" />
  <node pkg="tf" type="static_transform_publisher" name="cam2" args="$(arg cam2) camera_origin cam2 100" />
  <node pkg="tf" type="static_transform_publisher" name="cam3" args="$(arg cam3) camera_origin cam3 100" />
  <node pkg="tf" type="static_transform_publisher" name="cam4" args="$(arg cam4) camera_origin cam4 100" />

  <!--<node name="rviz" pkg="rviz" type="rviz" respawn="true" />-->

</launch>