<?xml version="1.0"?>
<launch>

  <arg name="world_frame" default="map"/>
  <!--TWB cam1-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam1">
    <param name="tf" value="0.700381 1.65056 3.65692 3.10636 -0.0217796 0.0122934"/>
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam1"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam2-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam2">
    <param name="tf" value="-1.35819 1.5723 3.70026 3.13005 0.0191518 -0.00149801"/>
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam2"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam3-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam3">
    <param name="tf" value="-1.59799 -0.643416 3.63405 3.12804 -0.0270995 0.00854235"/>
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam3"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam4-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam4">
    <param name="tf" value="0.672525 -0.792575 3.67222 3.13852 -0.017695 -0.00699832"/>
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam4"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam5-2-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam5_2">
    <param name="tf" value="0.300187 0.061198 3.66301 3.13293 -0.00327001 0.00051294"/>
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam5_2"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam4-2-->
  <!--<node pkg="calib" type="dynamic_transform_publisher" name="tf_cam4_2">-->
  <!--<param name="tf" value="1.37391 -1.48399 3.6637 3.09811 0.0387439 1.57613"/>-->
  <!--<param name="source_frame" value="$(arg world_frame)"/>-->
  <!--<param name="target_frame" value="cam4_2"/>-->
  <!--<param name="rate" value="50.0"/>-->
  <!--</node>-->

  <!--TWB cam3-2-->
  <!--<node pkg="calib" type="dynamic_transform_publisher" name="tf_cam3_2">-->
  <!--<param name="tf" value="-1.3571 -1.34144 3.66265 3.12117 0.0396904 -0.00251701"/>-->
  <!--<param name="source_frame" value="$(arg world_frame)"/>-->
  <!--<param name="target_frame" value="cam3_2"/>-->
  <!--<param name="rate" value="50.0"/>-->
  <!--</node>-->

  <!--TWB cam2-2-->
  <!--<node pkg="calib" type="dynamic_transform_publisher" name="tf_cam2_2">-->
  <!--<param name="tf" value="-1.33473 1.37984 3.66234 -3.07983 -0.0208104 1.56029"/>-->
  <!--<param name="source_frame" value="$(arg world_frame)"/>-->
  <!--<param name="target_frame" value="cam2_2"/>-->
  <!--<param name="rate" value="50.0"/>-->
  <!--</node>-->
  <!---->
  <!--TWB cam1-2-->
  <!--<node pkg="calib" type="dynamic_transform_publisher" name="tf_cam1_2">-->
  <!--<param name="tf" value="1.61334 1.3447 3.68389 -3.12521 -0.0753848 -0.00914719"/>-->
  <!--<param name="source_frame" value="$(arg world_frame)"/>-->
  <!--<param name="target_frame" value="cam1_2"/>-->
  <!--<param name="rate" value="50.0"/>-->
  <!--</node>-->


  <!--Calibration from Email 24.05.2018 12:38-->

  <!--TWB cam1-2-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam1_2">
    <param name="tf" value="1.5 1.5 3.7 3.14 0 0"/>
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam1_2"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam2-2-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam2_2">
    <param name="tf" value="-1.739400533036131 1.122041070464729 3.809161030909903 3.13445909674 0.0957216131542 -1.62018965532"/>
    <!--<param name="tf" value="-1.739400533036131 1.122041070464729 3.809161030909903 0.032746888448883 0.034988424473458 -0.723428934124873 0.688733641345282"/>-->
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam2_2"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam3-2-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam3_2">
    <param name="tf" value="-1.795692791354563 -1.533941439547512 3.621835213963454 3.16708268906 -0.017656114651 -0.0147196578896"/>
    <!--<param name="tf" value="-1.795692791354563 -1.533941439547512 3.621835213963454 0.013475070717374 -0.008926548370256 -0.007239265655325 0.999843153817701"/>-->
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam3_2"/>
    <param name="rate" value="50.0"/>
  </node>

  <!--TWB cam4-2-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_cam4_2">
    <param name="tf" value="1.532714868330591 -1.414715578652221 3.658600542387409 3.14518905634 -0.0482049628319 -1.62827177835"/>
    <!--<param name="tf" value="1.532714868330591 -1.414715578652221 3.658600542387409 -0.015743329236171 -0.018430638955907 -0.726876092207521 0.686340735866203"/>-->
    <param name="source_frame" value="$(arg world_frame)"/>
    <param name="target_frame" value="cam4_2"/>
    <param name="rate" value="50.0"/>
  </node>


</launch>
