<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true"/>

  <arg name="savefile_prefix" default="/mnt/filedump1/twb_demo_ekf"/>
  <arg name="savefilename" default="cam12345_miele_2018-10-01-11-28-12.bag"/>

  <node pkg="rosbag" type="play" name="rosbag_play" respawn="false" output="screen" args="--rate=4 --start=33 --clock $(arg savefile_prefix)/$(arg savefilename) "/>

  <!--DECOMPRESS IMAGE-->
  <node pkg="image_transport" type="republish" name="republish" respawn="false" output="screen" args="compressed in:=/genicam_cam5/image_rect_color raw out:=/genicam_cam5/image_rect_color_repub" />

  <!--CAMERA VIEW SETUP-->
  <node pkg="tf" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 world map 10"/>

  <!--ROBOT SETUP-->
  <include file="$(find models)/launch/robot_viz.xml">
    <arg name="description" value="$(find xacro)/xacro --inorder $(find models)/urdf/amiro.urdf"/>
    <arg name="use_joint_state_publisher" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="model_prefix" value="base_link_5"/>
  </include>

  <!-- TWB SETUP-->
  <node pkg="calibration" type="dynamic_transform_publisher" name="tf_twb_model">
    <param name="tf" value="-0.15 0.04 0 0 0 0"/>
    <param name="source_frame" value="world"/>
    <param name="target_frame" value="twb/base_link"/>
    <param name="rate" value="10.0"/>
  </node>

  <include file="$(find models)/launch/twb.xml">
    <arg name="parent_frame_id" value="twb"/>
  </include>

  <!--TWB FLOOR IMAGE (with dummy image from camera)-->
  <node pkg="calibration" type="dynamic_transform_publisher" name="tf_twb_floor">
    <param name="tf" value="0.031 0.19 0 3.1415 0 0"/>
    <param name="source_frame" value="world"/>
    <param name="target_frame" value="floor"/>
    <param name="rate" value="50.0"/>
  </node>-->

  <!--CAMERA TFs-->
  <arg name="world_frame" default="map"/>

  <arg name="cam1" value="1.5000   -1.5000   -1.7000    0 0         0         1.0"/>
  <arg name="cam2" value="-1.3071   -1.5390   -1.8324 0.0365   -0.0412   -0.7036 0.7085"/>
  <arg name="cam3" value="-1.6830    1.3908   -1.7717 0.0019   -0.0318   -0.0052 0.9995"/>
  <arg name="cam4" value="1.4243    1.5012   -1.6682 -0.0122   -0.0055   -0.7130 0.7010"/>

  <node pkg="tf" type="static_transform_publisher" name="world_origin" args="0 0 2.2 0 0 3.14 $(arg world_frame) camera_origin 100" />

  <!--CAMERA VIEW SETUP-->
  <node pkg="tf" type="static_transform_publisher" name="cam1" args="$(arg cam1) camera_origin cam1 100" />
  <node pkg="tf" type="static_transform_publisher" name="cam2" args="$(arg cam2) camera_origin cam2 100" />
  <node pkg="tf" type="static_transform_publisher" name="cam3" args="$(arg cam3) camera_origin cam3 100" />
  <node pkg="tf" type="static_transform_publisher" name="cam4" args="$(arg cam4) camera_origin cam4 100" />

  <!--LOCALIZATION-->
  <!--1 EKF with alle 4 tracker inputs-->
  <arg name="tracker" default="aruco3_node"/>
  <include file="$(find localization)/launch/generic_ekf.launch">
    <arg name="id" value="5"/>
    <arg name="tracker" value="$(arg tracker)"/>
  </include>

  <!--RVIZ-->
  <node name="rviz_twb" pkg="rviz" type="rviz" args="-d $(find demo)/rviz/cam12345_dirt_devil_demo.rviz" respawn="true"/>

</launch>
