<?xml version="1.0"?>
 <launch>


  <!--MULTIMASTER CAMERA SETUP-->
  <include file="$(find demo)/launch/master_sync_cam_publish.launch" />

  <!--CAMERA VIEW SETUP-->
  <node pkg="tf" type="static_transform_publisher" name="map_tf" args="0 0 0 0 0 0 world map 10" />

  <!--ROBOT SETUP-->
  <include file="$(find models)/launch/robot_viz.xml">
    <arg name="description" value="$(find xacro)/xacro --inorder $(find models)/urdf/amiro.urdf" />
    <arg name="use_joint_state_publisher" value="true"/>
    <arg name="gui" value="false" />
    <arg name="model_prefix" value="base_link_0" />
  </include>

  <include file="$(find models)/launch/robot_viz.xml">
    <arg name="description" value="$(find xacro)/xacro --inorder $(find models)/urdf/amiro.urdf" />
    <arg name="use_joint_state_publisher" value="true"/>
    <arg name="gui" value="false" />
    <arg name="model_prefix" value="base_link_1" />
  </include>

  <include file="$(find models)/launch/robot_viz.xml">
    <arg name="description" value="$(find xacro)/xacro --inorder $(find models)/urdf/amiro.urdf" />
    <arg name="use_joint_state_publisher" value="true"/>
    <arg name="gui" value="false" />
    <arg name="model_prefix" value="base_link_2" />
  </include>

  <include file="$(find models)/launch/robot_viz.xml">
    <arg name="description" value="$(find xacro)/xacro --inorder $(find models)/urdf/amiro.urdf" />
    <arg name="use_joint_state_publisher" value="true"/>
    <arg name="gui" value="false" />
    <arg name="model_prefix" value="base_link_3" />
  </include>

  <include file="$(find models)/launch/robot_viz.xml">
    <arg name="description" value="$(find xacro)/xacro --inorder $(find models)/urdf/amiro.urdf" />
    <arg name="use_joint_state_publisher" value="true"/>
    <arg name="gui" value="false" />
    <arg name="model_prefix" value="base_link_4" />
  </include>

  <include file="$(find models)/launch/robot_viz.xml">
    <arg name="description" value="$(find xacro)/xacro --inorder $(find models)/urdf/amiro.urdf" />
    <arg name="use_joint_state_publisher" value="true"/>
    <arg name="gui" value="false" />
    <arg name="model_prefix" value="base_link_5" />
  </include>

  <!--TWB SETUP-->
  <arg name="twb_world_vs_image_offset_x" default="-0.145"/> <!--Found by trying out after calibration of cam5-2 -->
  <arg name="twb_world_vs_image_offset_y" default="0.125"/> <!--Found by trying out after calibration of cam5-2 -->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_twb_model">
<!--     <param name="tf" value="$(eval 0 - twb_world_vs_image_offset_x) $(eval 0 - twb_world_vs_image_offset_y) 0 0 0 0"/> -->
    <param name="tf" value="-0.15 0.04 0 0 0 0"/>
    <param name="source_frame" value="world"/>
    <param name="target_frame" value="twb/base_link"/>
    <param name="rate" value="10.0"/>
  </node>
  <include file="$(find models)/launch/twb.xml">
    <arg name="parent_frame_id" value="twb" />
  </include>

  <!--TWB FLOOR IMAGE (with dummy image from camera)-->
  <arg name="twb_model_vs_image_offset_x" default="0.223526482897"/> <!--Found by trying out-->
  <arg name="twb_model_vs_image_offset_y" default="0.0945278311793"/> <!--Found by trying out-->
  <node pkg="calib" type="dynamic_transform_publisher" name="tf_twb_floor">
<!--     <param name="tf" value="$(eval arg('twb_model_vs_image_offset_x') - arg('twb_world_vs_image_offset_x')) $(eval arg('twb_model_vs_image_offset_y') - arg('twb_world_vs_image_offset_y')) 0 3.1415 0 0"/> -->
<!--     <param name="tf" value="0.223526482897+0.145 0.0945278311793-0.125 0 3.1415 0 0"/> -->
    <param name="tf" value="0.031 0.19 0 3.1415 0 0"/>
    <param name="source_frame" value="world"/>
    <param name="target_frame" value="floor"/>
    <param name="rate" value="50.0"/>
  </node>


  <!--CAMERA TFs-->
  <include file="$(find demo)/launch/tf_camera_new.launch">
    <arg name="world_frame" value="world"/>
  </include>

  <!--LOCALIZATION-->
  <include file="$(find localization)/launch/start.launch">
    <!--<arg name="tracker" value="artoolkit5_cam"/>-->
    <arg name="tracker" value="aruco3_node"/>
  </include>

  <!--All Aruco3 Tracker-->
  <include file="$(find demo)/launch/start_aruco3_all.launch">
    <arg name="dictionary" value="TAG16h5"/>
  </include>

  <!--<include file="$(find demo)/launch/start_artoolkit5_all.launch"/>-->

  <!--GMAPPING-->
  <!--<include file="$(find demo)/launch/gmapping.launch"/>-->

<!--
  <node pkg="usb_cam" type="usb_cam_node" name="usb_cam_node">
    <param name="video_device" value="/dev/video0"/>
    <param name="image_width"  value="1280"/>
    <param name="image_height" value="720"/>
    <param name="pixel_format" value="yuyv"/>
  </node>
  <node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam_node"/> -->

  <node name="rviz_twb" pkg="rviz" type="rviz" args="-d $(find models)/twb.rviz" respawn="true" />

 </launch>
